@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 1.75rem;
    color: #3A3A3A;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;
}

/* banner related styles */
.banner{
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: top 50px right;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}
.banner-title{
    font-weight: 700;
    font-size: 3.25rem;
    color: #3A3A3A;
    max-width: 582px;
    margin-top: 145.8px;
}
.banner-content{
    max-width: 505px;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;

}
.banner-btn{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.banner-img{
    /* width: 100%; */
    margin-top: 80px;
}

/* company image style */
.company{
    /* max-width: 1110px; */
    justify-content: center;
    /* border: 0.5px solid gray; */
    gap: 100px;
    margin: 0 auto;
}
.company img{
    padding: 41px 3px 41px;
}

/* feature related style */
.features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1100px;
    /* padding: 0 40px;     */
    margin: 0 auto;
    gap: 30px;
    justify-items: start;
}
.main-title{
    font-weight: 500;
    font-size: 1.75rem;
    color: #3A3A3A;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.items{
    background: #fff;
    margin: 0 auto;
    width: 329px;
    /* height: 476px; */
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}
.item-img{
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.item-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #3A3A3A;
}
.price{
    font-size: 1.5rem;
    font-weight: 300;
    color: #3A3A3A;
}
.rating{
    font-weight: 600;
    color: #3A3A3A;
    font-size: 0.8rem;
}
.description{
    font-size: 0.8rem;
    font-weight: 600;
    color: #3A3A3A;
    line-height: 1.4;
}
.see-more{
    text-decoration: none;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
}
.feature-product{
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
}
.feature-content{
    gap: 16px;
}
.feature-title{
    font-size: 2.3rem;
    font-weight: 700;
    color: #3A3A3A;
}
.feature-description{
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
}
.footer-content{
    margin: 0 auto;
    max-width: 1440px;
    max-height: 240px;
    background-color: #0A0826;
    text-align: center;
    gap: 3px;
    padding: 50px;
    margin-top: 100px;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-description{
    color: rgba(217, 219, 225, 1);
    font-size: 0.8rem;
    font-weight: 700;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .company,
    .feature-product{
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        background-position: bottom;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-product{
        text-align: center;
    }
    .see-more{
        margin-left: 100px;
    }
    .company{
        align-items: center;
    }
    .company img{
        width: 50%;
    }
}