@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 1.5rem;
    color: #3A3A3A;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;
}

/* banner related styles */
.banner{
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: top 50px right;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}
.banner-title{
    font-weight: 700;
    font-size: 3.25rem;
    color: #3A3A3A;
    max-width: 582px;
    margin-top: 145.8px;
}
.banner-content{
    max-width: 505px;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;

}
.banner-btn{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
}
.banner-img{
    /* width: 100%; */
    margin-top: 80px;
}